services:
  backend:
    build:
      context: ./backend
      target: test
    environment:
      - NODE_ENV=test
    volumes:
      - ./backend:/app
      - /app/node_modules
    env_file:
      - ./backend/.env.test