services:
  frontend:
    container_name: frontend
    build:
      context: ./frontend
  backend:
    container_name: backend
    build:
      context: ./backend
    depends_on:
      - database
  database:
    image: postgres:18-alpine
    container_name: database
    restart: unless-stopped
    volumes:
      - postgres_data:/var/lib/postgresql/data
  studio:
    image: node:22-alpine
    container_name: studio
    working_dir: /app
    volumes:
      - ./backend:/app
    depends_on:
      - database

volumes:
  postgres_data: