.register {
    display: flex;
    flex-direction: column;
    width: 30vw;
    justify-content: center;
    align-content: center;
    padding: 0 5vw;
    gap: 2vh;
}

.registerTitle {
    font-size: larger;
}

.registerForm {
    display: flex;
    flex-direction: column;
    gap: 1vh;
}

.registerFormField {
    padding: clamp(15px, 2vh, 45px) clamp(15px, 1vw, 45px);
    border-radius: 15px;
    font-size: clamp(15px, .5vw, 45px);
    border: #CAD2C5;
}

.registerFormField:focus {
    border: #000000 solid 1px;
    outline: none;
    box-shadow: none;
}

.registerFormButton {
    padding: 2vh 1vw;
    margin-top: 3vh;
    border-radius: 50px;
    outline: none;
    box-shadow: none;
    border: none;
    background: #84A98C;
    color: #FFF;
    font-size: clamp(15px, .5vw, 45px);
}

.registerFormButton:hover {
    background: #52796F;
    color: #ECEEEB;
}

.register a {
    background: none;
    padding: 2vh 1vw;
    border-radius: 50px;
    text-decoration: none;
    color: #000000;
    text-align: center;
    width: 100%;
}

.register a:hover {
    background: #CAD2C5;
}

.trademark {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: .5vw;
}

.trademarkLogo {
    width: clamp(35px, .5vw, 105px);
    height: auto;
}

.trademarkLabel {
    font-size: clamp(15px, .5vw, 45px);
}

@media (max-width: 1200px) {
    .register {
        width: 50vw;
    }
}

@media (max-width: 768px) {
    .register {
        width: 100vw;
    }
}
